<h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/9.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Clown</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ex, dolor aspernatur perferendis rem
                    eaque neque nisi sit vero est nostrum saepe molestiae eveniet iusto aut quas facere in. Ab?</p>
            </div>
        </div>