     <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/2.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Watch Me</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas obcaecati illum modi est
                    voluptatum, eligendi rem neque numquam animi iste impedit at, sunt, itaque laborum deleniti
                    doloremque molestiae fugit ducimus..</p>
            </div>
        </div>