 <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/5.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Birthay</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus recusandae voluptatem unde
                    eos possimus delectus vel natus sed non vero soluta vitae ullam sequi a, ab, molestias quidem
                    commodi.</p>
            </div>
        </div>