 <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/10.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Water</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque eum autem totam magnam soluta earum
                    reiciendis in id, provident ducimus animi at enim, labore laborum ipsum? Laborum deleniti
                    consequuntur sed?</p>
            </div>
        </div>