   <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/3.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Box Eye</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, dicta eum sunt ullam est illum quia,
                    ipsam tempora culpa eius earum. Perspiciatis animi laborum magni in nostrum, nemo aut ipsa?.</p>
            </div>
        </div>