  <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/6.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Broken</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, necessitatibus? Ut a dolore quis
                    obcaecati pariatur sint non beatae voluptatibus quae, esse officia dolores vero. Soluta incidunt
                    voluptatum deleniti ea?</p>
            </div>
        </div>