 <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/7.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Sunst</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium non quo beatae fuga adipisci perspiciatis molestias, aliquid in. Hic enim placeat unde aliquam soluta. Ratione minus excepturi quidem!</p>
            </div>