  <h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/4.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Don´t Cry</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, distinctio, sint veniam iusto eum quo
                    reiciendis, placeat dolorem mollitia tenetur dolor ut deleniti dolores laborum ipsam obcaecati
                    aliquam animi nesciunt?</p>
            </div>