<h1>Carrito</h1>
        <div class="producto-en-carrito">
            <img src="images/home/1.jpg" alt="Producto 1" class="imagen-carrito">
            <div class="descripcion-carrito">
                <h2>Those Eyes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugit voluptatibus omnis aliquid
                    obcaecati quis distinctio ut reprehenderit consectetur ipsa molestiae, eos at deserunt perferendis
                    aut deleniti magni velit cum?.</p>
            </div>
        </div>