<div class="textshop">
            <h2>S H O P</h2>
        </div>
        
        <div class="image-container">
            <div class="image">
                <img src="images/home/1.jpg" alt="Imagen 1">
                <div class="descripcion">
                    <div class="nombre">Those Eyes</div>
                    <div class="precio">40.00 USD</div>
                    <a href="carrito.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
            <div class="image">
                <img src="images/home/2.jpg" alt="Imagen 2">
                <div class="descripcion">
                    <div class="nombre">Watch Me</div>
                    <div class="precio">50.00 USD</div>
                    <a href="carrito2.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="images/home/3.jpg" alt="Imagen 1">
                <div class="descripcion">
                    <div class="nombre">Box Eye</div>
                    <div class="precio">35.00 USD</div>
                    <a href="carrito3.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
            <div class="image">
                <img src="images/home/4.jpg" alt="Imagen 2">
                <div class="descripcion">
                    <div class="nombre">Don't Cry</div>
                    <div class="precio">50.00 USD</div>
                    <a href="carrito4.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="images/home/5.jpg" alt="Imagen 1">
                <div class="descripcion">
                    <div class="nombre">Birthay</div>
                    <div class="precio">20.00 USD</div>
                    <a href="carrito5.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
            <div class="image">
                <img src="images/home/6.jpg" alt="Imagen 2">
                <div class="descripcion">
                    <div class="nombre">Broken</div>
                    <div class="precio">40.00 USD</div>
                    <a href="carrito6.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="images/home/7.jpg" alt="Imagen 1">
                <div class="descripcion">
                    <div class="nombre">Sunset</div>
                    <div class="precio">45.00 USD</div>
                    <a href="carrito7.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
            <div class="image">
                <img src="images/home/8.jpg" alt="Imagen 2">
                <div class="descripcion">
                    <div class="nombre">Don't Look At Me</div>
                    <div class="precio">60.00 USD</div>
                    <a href="carrito8.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="images/home/9.jpg" alt="Imagen 1">
                <div class="descripcion">
                    <div class="nombre">Clown</div>
                    <div class="precio">50.00 USD</div>
                    <a href="carrito9.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
            <div class="image">
                <img src="images/home/10.jpg" alt="Imagen 2">
                <div class="descripcion">
                    <div class="nombre">Water</div>
                    <div class="precio">60.00 USD</div>
                    <a href="carrito10.html" class="comprar-button">COMPRAR</a>
                </div>
            </div>
        </div>