 <div class="txtsobre">
            <h1>Sobre Mi</h1>
        </div>
        <div class="containimg">
            <div class="imgsm">
                <img src="images/Sobre mi/sm1.jpg" alt="">

                <p>¡Hola! Soy Ruth, una artista apasionada que explora el mundo de la pintura surrealista para dar
                    vida a mis visiones y sueños a través del lienzo.

                    Desde mi infancia, siempre he sentido una profunda conexión con el mundo de la imaginación y la
                    creatividad. La pintura surrealista se ha convertido en mi lenguaje principal para expresar la
                    complejidad de mis pensamientos y emociones de una manera única y sorprendente.

                    Mi obra es un viaje a través de los reinos del subconsciente, donde las reglas de la realidad se
                    desvanecen y se reemplazan por un universo de posibilidades ilimitadas. Cada pincelada es un portal
                    a un
                    mundo en el que lo imposible se convierte en una realidad visual intrigante.</p>

            </div>
            <div class="imgsm2">
                <img src="images/Sobre mi/sm3.jpg" alt="">
            <p> La pintura surrealista me permite explorar temas profundos y personales, así como cuestionar la
                percepción convencional de la realidad. Mi objetivo es llevar a los espectadores a un viaje
                introspectivo, desafiando sus propias interpretaciones y conectando con sus emociones más profundas.
        
                Gracias por explorar mi universo surrealista. Te invito a adentrarte en mis obras y a descubrir tus
                propias interpretaciones en este viaje lleno de maravillas. Si deseas adquirir alguna de mis
                creaciones
                o colaborar en proyectos especiales, no dudes en ponerte en contacto conmigo.
        
                Juntos, continuaremos explorando los confines de la imaginación y desafiando las fronteras de lo
                posible. ¡Gracias por ser parte de este viaje artístico!</p>
            </div>

        </div>
